.moto-container {
  width: 100%;
  height: 50%;
  left: 105px;
  top: 111px;
  margin-top: 20px;
  border-radius: 20px;
  background: #fed393;
}
.moto-position {
  position: relative;
  left: 150px;
  top: 150px;
}
.dog-position {
  position: relative;
  width: 50%;
  left: 350px;
  top: -75px;
}
