<div class="container">
	<div class="row pb-4">
		<div class="col">
			<ng-image-slider [images]="images" [imageSize]="imageSize" [animationSpeed]="0.5"></ng-image-slider>
		</div>
		<div class="col details-col">
			<h2 class="row details-header">
				<img src="assets/paw.svg" alt="details" class="logo">
				Animal details
			</h2>
			<div class="row">
				<div class="detail">
					<span class="info">{{ animal.type }}</span>
					<img src="assets/paw.svg" alt="logo" class="logo">
				</div>
			</div>
			<div class="row">
				<div class="detail">
					<span class="info">{{ getGenderStr(animal.gender) }}</span>
					<img src="assets/sex.svg" alt="logo" class="logo">
				</div>
			</div>
			<div class="row">
				<div class="detail">
					<span class="info">{{ animal.age }}</span>
					<img src="assets/age.svg" alt="logo" class="logo">
				</div>
			</div>
			<h2 class="row details-header">
				<img src="assets/profile.svg" alt="details" class="logo">
				Owner details
			</h2>
			<div class="row">
				<div class="detail">
					<span class="info">{{ animal.owner?.fullname }}</span>
					<img src="assets/profile.svg" alt="logo" class="logo">
				</div>
			</div>
			<div class="row">
				<div class="detail">
					<span class="info">{{ animal.owner?.phoneNumber }}</span>
					<img src="assets/phone.svg" alt="logo" class="logo">
				</div>
			</div>
			<div class="row">
				<div class="detail">
					<span class="info">{{ animal.owner?.email }}</span>
					<img src="assets/email.svg" alt="logo" class="logo">
				</div>
			</div>
			<div class="d-flex justify-content-center">
				<button id="request-breeding">Request Breeding</button>
			</div>
		</div>
	</div>
</div>