<div class="card text-center">
    <div class="card-header ">
        <h2 class="mb-0">{{animal.type}}</h2>
    </div>
    <div class="card-body">
        <ng-image-slider [images]="getImages(animal)" [imageSize]=" {width: '100%', height: '280px'}"
            [animationSpeed]="0.5"></ng-image-slider>
        <h5 class="card-title">Contact the owner to arrenge for a breeding session</h5>
        <div class="card-text">
            <div>
                <p class="font-weight-bold"> <b>Animal Age:</b> {{animal.age}} years </p>
                <p class="font-weight-bold"> <b>Animal Gender:</b> {{getGenderName(animal.gender)}}</p>
            </div>
        </div>
        <a href="#" class="btn btn-primary" [routerLink]="['/animals/'+animal.id]">View Details</a>
        </div>
        <div class="card-footer text-muted bg-primary">
            <span class="text-white"> Animal added on {{animal.createdAt | datepipe}}</span>
        </div>
</div>