<nav class="navbar navbar-expand-sm w-100">
  <ul class="nav w-25 margin-left-50">
    <li class="nav-item">
      <a [routerLink]="[HomeRoute]" class="nav-link" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[RequestsRoute]" routerLinkActive="active" *ngIf="isLoggedIn()"
         [routerLinkActiveOptions]="{exact:true}">Requests</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[AddAnimalRoute]" routerLinkActive="active" *ngIf="isLoggedIn()"
         [routerLinkActiveOptions]="{exact:true}">Add Animal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[MyAnimalsRoute]" routerLinkActive="active" *ngIf="isLoggedIn()"
         [routerLinkActiveOptions]="{exact:true}">My Animals</a>
    </li>
  </ul>
  <ul class="nav mx-auto w-50 justify-content-center">
    <li class="nav-item">
      <a class="nav-link bg-darkOrange fw-bolder" style="color:#FEBB59;" [routerLink]="[HomeRoute]">
        Breed<span style="color: white">r</span>
      </a>
    </li>
    </ul>
  <ul class="nav w-25 justify-content-end margin-right-50">
    <li class="nav-item" [ngSwitch]="isLoggedIn()">
      <button *ngSwitchCase="true" type="button" class="btn btn-GetStarted btn-primary btn-sm" (click)="logout()">
        Logout
      </button>
      <button *ngSwitchDefault type="button" class="btn btn-primary btn-sm btn-GetStarted" (click)="navigateToLogin()">
        Get Started
      </button>
    </li>
  </ul>
</nav>
