li > a.active {
  color: #FEBB59;
}
li > a {
  color: rgb(252, 252, 252);
}
.btn-GetStarted {
  height: 36px;
  width: 113px;
  left: 1227px;
  top: 20px;
  border-radius: 36px;
  border: none;
  padding: 8px 16px 8px 16px;
  background-color: #febb59;
}
a {
  font-size: 20px;
}
