/* You can add global styles to this file, and also import other style files */
.bg-orange {
  background-color: #fee8c6;
}
.bg-darkOrange {
  color: #febb59;
}
.margin-right-50 {
  margin-right: 50px;
}
.margin-left-50 {
  margin-left: 50px;
}

body {
  background-color: #ffdeaf;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
