
    <div class="container">
      <h4 class="margin-left-50 mt-5"> incoming requests : </h4>
      <div class="accordion mt-3 " >
      <div  *ngFor="let animal of myAnimals  let i = index" class="accordion-item mt-5 ">
        <h2 class="accordion-header" id="request{{i}}">
          <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" attr.data-bs-target="#collapse{{i}}">{{animal.name}} <span class="badge bg-black position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary ">
            {{requestsByAnimal[animal.name] != undefined ? requestsByAnimal[animal.name].length :0 }}</span>
          </button>
        </h2>
        <div id="collapse{{i}}" *ngFor="let incomingRequest of requestsByAnimal[animal.name] "class="list-group accordion-collapse collapse" data-bs-parent="#myAccordion">
          <div class="card-body list-group-item">
            <p>{{incomingRequest.from.name}}</p><button class ="btn btn-success " (click)="approve(incomingRequest)">approve</button><button class ="btn btn-danger m-2" (click)="decline(incomingRequest)">decline</button></div>
        </div>
      </div>
        <h4 class="margin-left-50 mt-5"> my requests : </h4>

</div>
