body {
  padding-top: 3rem;
}

#headingOne {
  cursor: pointer;
  color: var(--primary);
}

[data-toggle="collapse"] {
.fa:after {
  content: '\f078';  /* chevron-down */
}

&.collapsed {
.fa:after {
  content: '\f054';  /* chevron-right */
}
}
}
